@{
    ViewBag.Title = "Certificacao";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}

@section breadcrumbs {
    <div class="ui container">
        <div class="ui one column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small">
                        <a class="section" href="/">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/">Certificação</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/">Formulário</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div class="container_formulario">
  <form class="ui form error">
                <div class="field">
                    <label>Nome</label>
                    <input type="text" name="nome" id="nome" onblur="MostrarValor(this)" placeholder="Digite seu nome" required="required">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu email" required="required" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" onblur="MostrarValor(this)">
                </div>
                <div class="field">
                    <label>Telefone</label>
                    <input type="text" name="telefone" id="telefone" placeholder="(99) 9999-9999" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" title="Número de telefone precisa ser no formato (99) 9999-9999" required="required" onblur="MostrarValor(this)">
                </div>
                <div class="field">
                    <label>Assunto</label>
                    <input type="text" name="assunto" id="assunto" required="required" placeholder="informe o assunto" onblur="MostrarValor(this)">
                </div>
                <div class="field">
                    <label>Mensagem</label>
                    <textarea rows="2" name="mensagem" id="mensagem" required="required" onblur="MostrarValor(this)" placeholder="Em que podemos ajudar?" ></textarea>
                </div>
                <div class="ui error message"></div>
                
                <button class="ui button" type="submit" onclick="addSession()">Enviar</button>
    </form>
            <div class="result_form">
            <h3>Nome:</h3>
            <p id="nomeDigitado"></p>
            <h3>Email:</h3>
            <p id="emailDigitado"></p>
            <h3>Telefone:</h3>
            <p id="foneDigitado"></p>
            <h3>Assunto:</h3>
            <p id="assuntoDigitado"></p>
            <h3>Mensagem:</h3>
            <p id="msgDigitado"></p>
         </div>      
</div>
</div>
</div>
</div>
</div>
</div>
</div>